@charset "UTF-8";
/* lavender purple faraway color (@scheme_color): #F6C9FF, #FAA6FF, #7353BA, #2F195F; */

/* General */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #2F195F;
	font-family: "Avant Garde, Avantgarde, Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	color: white;
}


/* Header */



/* Main */



/* Footer */